# Generated directories
/anymatix/
/build/
/dist/
/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
node_modules/
*.zip 
test
anymatix-portable-comfyui.zip 
artifacts 
test
